{% extends 'store/base.html' %} {% load static %} {% block content %}
<h1 class="text-center">Chi tiết đơn hàng</h1>

<div class="box-element">
  <div class="cart-row">
    <div style="flex: 2"></div>
    <div style="flex: 2"><strong>Sản phẩm</strong></div>
    <div style="flex: 1"><strong>Giá</strong></div>
    <div style="flex: 1"><strong>Số lượng</strong></div>
    <div style="flex: 1"><strong>Tổng cộng</strong></div>
    <div style="flex: 2"><strong>Đánh giá sản phẩm</strong></div>
  </div>
  <br />
  {% for i in orders %}
  <div class="cart-row">
    <div style="flex: 2">
      <img style="height: 200px" src="{{i.pID.book_img.url}}" />
    </div>
    <div style="flex: 2">
      <p>{{i.pID.book_name}}</p>
    </div>
    <div style="flex: 1">
      <p>{{i.pID.book_price}}</p>
    </div>
    <div style="flex: 1">
      <p class="quantity">{{i.quantity}}</p>
    </div>
    <div style="flex: 1">
      <p>{{i.get_total}}</p>
    </div>
    <div style="flex: 2">
      <!--đánh giá sản phẩm-->
      <form class="form" id="comment" action="#" data-action="cmt" data-order="{{i.oID}}">
        <textarea class="form-control" placeholder="Bạn thấy sản phẩm này như thế nào?" id="textarea"
          style="height: 200px">{{i.comment}}</textarea>
        <br/>
        <button type="submit" class="btn btn-primary">Đánh giá</button>
      </form>
    </div>
  </div>
  {% endfor %}

  <div class="d-flex justify-content-end">
    <h4>Tổng đơn hàng: {{invoice.get_total_price}}</h4>
  </div>
</div>
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

<!-- ========== Start test ========== -->
<!--
    <div class="box-element">
    <div class="cart-row">
      <div style="flex: 2"></div>
      <div style="flex: 2"><strong>Sản phẩm</strong></div>
      <div style="flex: 1"><strong>Giá</strong></div>
      <div style="flex: 1"><strong>Số lượng</strong></div>
      <div style="flex: 1"><strong>Tổng cộng</strong></div>
    </div>

    {% for i in orders %}
    <div class="cart-row">
      <div style="flex: 2">
        <img class="row-image" src="{{i.pID.book_img.url}}" />
      </div>
      <div style="flex: 2"><p>{{i.pID.book_name}}</p></div>
      <div style="flex: 1"><p>{{i.pID.book_price}}</p></div>
      <div style="flex: 1">
        <p class="quantity">{{i.quantity}}</p>
        <div class="quantity">
          <img data-product="{{i.pID.pID}}" data-action="add" class="chg-quantity update-cart" src="{% static 'img/arrow-up.png' %}"/>
          <img data-product="{{i.pID.pID}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'img/arrow-down.png' %}"/>
        </div>
      </div>
      <div style="flex: 1"><p>{{i.get_total}}</p></div>
    </div>
    {% endfor %}
  </div>
-->
<!-- ========== End test ========== -->